<html >
<head>
  <title>Sentence Generation Using Bidirectional LSTM</title>
	<title> Nikhil Vemula Final Project</title>
  <link rel="stylesheet" href="{{ url_for('style', filename='main.css') }}">
</head>
<body>
 <div class="formpage">
    <form action="{{ url_for('sentence')}}"method="post">
    	<input type="text" required="required" name="textive" placeholder="Type starting text"/>
      <input type="text" required="required" name="no_of_words" placeholder="No of words to generate"/>
      <button type="submit" class="btn btn-primary btn-large">Generate Sentence</button>
    </form>
   <br> <br>
   <br> <br>
   <br> <br>
   {{ sentence_generated }}
 </div>
</body>
</html>
